<div class="well">

<h1>Editing Business</h1>
<% if can? :update, @business %>
    <%= render 'form' %>
<% else %>
    You do not have permission to edit this page
<% end %>

<%= link_to 'Show', @business %> |
<%= link_to 'Back', businesses_path %>
