<div style="padding-top: 50px;"></div>
<div class="well">
    <p>What does it mean to eat locally? Although perceptions of
what makes up “local food” differ by region (due in large
part to varying climates, soil types, and populations), most
researchers accept that eating locally means minimizing the
distance between production and consumption, especially
in relation to the modern mainstream food system (Peters
et al., 2008).</p>
<p>According to the 2008 Farm Act, a product can be marketed
as locally or regionally produced if its end-point purchase is
within 400 miles from its origin, or within state boundaries
(Martinez et al., 2010). Most retailers, however, consider
local to be on a smaller scale than the state level and the
term is often defined as products produced and sold within
county lines.</p>

</div>