<div style="padding-top: 50px;"></div>
  <div class="panel panel-default">
    <div class="panel-body">
    <p>What does it mean to eat locally? Although perceptions of
    what makes up “local food” differ by region (due in large
    part to varying climates, soil types, and populations), most
    researchers accept that eating locally means minimizing the
    distance between production and consumption, especially
    in relation to the modern mainstream food system (Peters
    et al., 2008).</p>
    <p>According to the 2008 Farm Act, a product can be marketed
    as locally or regionally produced if its end-point purchase is
    within 400 miles from its origin, or within state boundaries
    (Martinez et al., 2010). Most retailers, however, consider
    local to be on a smaller scale than the state level and the
    term is often defined as products produced and sold within
    county lines.</p>
    <p>Using all this as background, HowLocal came up with this
    ranking system:</p>
    <div class = "col-md-1"></div>
    <div class = "col-md-4">
      <p><div class="alert alert-success" role="alert"><b>10:</b> Almost exclusively,
        this location uses local food and ingredients from its immediate community.</div></p>
      <p><div class="alert alert-success" role="alert"><b>9:</b>Whenever possible,
        this location uses local food and ingredients from its immediate community and
        its state of origin.</div></p>
      <p><div class="alert alert-success" role="alert"><b>8:</b> This location makes
        a discerted effort to use local food and ingredients from its immediate community and
        its state of origin.</div></p>
      <p><div class="alert alert-info" role="alert"><b>7:</b>Frequently, this location makes a
        discerted effort to buy local</div></p>
      <p><div class="alert alert-info" role="alert"><b>6</b></div></p>
    </div>
    <div class = "col-md-2"></div>
    <div class = "col-md-4">
      <p><div class="alert alert-info" role="alert"><b>5</b></div></p>
      <p><div class="alert alert-warning" role="alert"><b>4</b></div></p>
      <p><div class="alert alert-warning" role="alert"><b>3</b></div></p>
      <p><div class="alert alert-danger" role="alert"><b>2</b></div></p>
      <p><div class="alert alert-danger" role="alert"><b>1: </b> This location makes no
        effort to use food or ingredients from its community and state.
      </noscript></div></p>
    </div>
    <div class = "col-md-1"></div>
  </div>
</div>
