/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*.cant-see-me {
	display: none;
}*/

/*glyphicons start here*/
.glyphicon-pencil {
	color: green;
	font-size: 20px;
}


.glyphicon-star {
	color: green;
	font-size: 20px;
}

.glyphicon-star-empty {
	color: green;
	font-size: 20px;
}

.glyphicon-leaf {
	color: green;
	font-size: 20px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.glyphicon-arrow-left {
	color: green;
	font-size: 20px;
}
/*glyphicons end!!!*/
.empty {
	color: white;
	opacity: 0.9;
	font-size: 20px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#map-canvas {
  width: 30%;
  height: 250px;
  float: right;
}

body { padding-top: 50px;
	background-image: image-url("freshfood.jpg");
    background-size: cover;
}

.force-to-bottom {
	position: absolute;
	bottom: 5%;
}

.holoheader {
	color: white;
}

.whitefont {
	color: white;
}

.rightytighty {
	float: right;
}

.holoimg {
	height: 50px;
}

.holoimgsm {
	height: 30px;
}
.holocenter {
	text-align: center;
}
