/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*.cant-see-me {
	display: none;
}*/

.glyphicon-star {
	color: green;
	font-size: 20px;
}

.glyphicon-star-empty {
	color: green;
	font-size: 20px;
}

.glyphicon-leaf {
	color: green;
	font-size: 20px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.empty {
	color: white;
	font-size: 20px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#map-canvas {
  width: 30%;
  height: 250px;
}